.home {
  .intro {
    padding-top: 115px;
    h2 {
      padding: 15px;
      font-weight: bold;
      color: #31393c;
    }

    p {
      padding: 10px;
      margin-bottom: 25px;
      background-color: #33a1fd;
      color: #fdca40;
    }
  }

  .wine {
    width: 25%;

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
      @media @phone {
        width: 100%;
        height: 33rem;
        margin: 20px 30px;
      }
    }
  }
  .visit-planets {
    h3 {
      margin-top: 20px;
      font-weight: bold;
      color: #31393c;
    }

    p {
      margin-top: 20px;
      background-color: #33a1fd;
      color: #fdca40;
      padding: 10px;
    }
  }

  .getOut {
    display: flex;
    padding: 25px 0;
    @media @phone {
      flex-direction: column;
      padding: 20px;
      margin: 0;
    }
    .walk-text {
      width: 50%;
      @media @phone {
        width: 100%;
      }

      h3 {
        margin-bottom: 10px;
        font-weight: bold;
        color: #31393c;
      }

      p {
        margin-bottom: 26px;
        background-color: #33a1fd;
        color: #fdca40;
        padding: 10px;
      }
    }
  }
}
// } // home

.Mixed-Family {
  width: 100%;

  @media @phone {
    height: 30%;
  }
}
